.item {
  width: 660px; /* Ширина слоя в пикселах */
    margin: 0 ; /* Отступ слева и справа */
    padding: 10px; /* Поля вокруг текста */
    text-align: left; /* Выравнивание содержимого слоя по левому краю */
}